.services-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-gap: 20px;
}

@media only screen and (max-width: 767px){
    .services-container{
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
.services-container{
    grid-template-columns: repeat(2, 1fr);
}
}